<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>STABLE TALKS</title>
	<link rel="shortcut icon" href="images/logo.ico" />
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
<!--	<link rel="stylesheet" href="css/main.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

</head>
<body>
	<header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarca">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class = "logo navbar-brand logo" href = "http://warhorse.in/"><img src="images/logo.png"></a>
 			</div>
 
			<nav class="collapse navbar-collapse navbar-right" role="navigation" id="navbarca">
				<ul class="nav navbar-nav">
					<!--<li><a href="#about">HOME</a></li>
					<li><a href="#resp">COURSES</a></li>
					<li><a href="#incentives">CALENDAR</a></li>
					<li><a href="#join">CONTACT</a></li>-->
				</ul>
			</nav>
		</div>
	</header>
	<main class="site-content" role="main">
		<div class="carousel slide" data-ride="carousel">
    		<!-- Wrapper for slides -->
    		<div class="carousel-inner" role="listbox">
        		<div class="item active">
        		</div>
        		<div class="item">
        		</div>
        		<div class="item">
        		</div>
    		</div>
		</div>
		<div id="home">
			<div class="container">
				<div class="row">
					<center>
						<a href="#eventdetails" id="event" class="mlogo" role="button" title="Click to Register"><img src="images/da.png" class="arrow_down"></a>
					</center>
				</div>
			</div>
		</div>
		<div id="description">
			<div class="container">
				<div class="row r2">
					<div class="col-xs-12">
					
					</div>
				</div>
			</div>
		</div>
		<div class="border">
		</div>
		<div id="eventdetails" class="bg-black">
			<div class="container">
				<div class="row">
					<center class="">
						<hr class="inline-elements">
						<h2 class="inline-elements yellow pad">
							EVENT DETAILS
						</h2>
						<hr class="inline-elements">
					</center>
				</div>
				<div class="row pad3">
					<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
						
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<center>
							<h3 class="info">Date :</h3>
							<h3 class="info"> {{ date }}</h3><br>
							<h3 class="info">Venue :</h3>
							<h3 class="info"> {{ place }}</h3><br>
							<h3 class="info">Time :</h3>
							<h3 class="info"> {{ time }}</h3><br>
						</center>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
						
					</div>
				</div>
			</div>
		</div>
		<div class="carousel slide" data-ride="carousel">
    		<!-- Wrapper for slides -->
    		<div class="carousel-inner" role="listbox">
        		<div class="item active">
        		</div>
        		<div class="item">
        		</div>
        		<div class="item">
        		</div>
    		</div>
		</div>
		<div id="form">
			<div class="container">
				<div class="row">
					<center>
						<div class="col-xs-12 yellow fs">
							<hr class="inline-elements">
							<h2 class="inline-elements yellow pad2">REGISTER</h2>
							<hr class="inline-elements">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <div id="reg" style="background-color: #1f1f1f">
                                        <p style="color: #ffd800; font-size: 20px">{{ message }}</p>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
							<form id="reg" action="{{ url_for('RegisterForTalk') }}" method="post">
                				<br>
                    			<div class="form-group col-lg-12">
                    				<label>YOUR NAME</label>
                        			<input type="text"  name="name" class="form-control" placeholder="John Doe" required>
                    			</div>
                    			<div class="form-group col-lg-12">
                    				<label>EMAIL ID</label>
                        			<input type="email" name="email" class="form-control" placeholder="jon.doe@gmail.com"> required
                    			</div>
                    			<div class="form-group col-lg-12">
                        			<label>PHONE NUMBER</label>
                        			<input type="text" name="contact" class="form-control" placeholder="9999999999" minlength="10" maxlength="10" required>
                    			</div>
                    			<div class="form-group col-lg-12">
                        			<label>AGE</label>
                        			<input type="text"  name="age" class="form-control" placeholder="23" required>
                    			</div>
                    			<div class="form-group col-lg-12">
                        			<label>WHAT DO YOU DO?</label>
                        			<input type="text"  name="des" class="form-control" placeholder="Student" required>
                    			</div>
                                <div class="form-group col-lg-12">
                                    <label>ARE YOU BRINGING A +1?</label>
                                    <input type="text" name="plusone" class="form-control" placeholder="Yes / No" required>
                                </div>
                       			<center><button type="submit" class="b btn btn-transparent">REGISTER</button></center>
                    		</form>
						</div>
					</center>
				</div>
			</div>
		</div>
	</main>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$('.carousel').carousel();
	</script>
	<script type="text/javascript">
		$("a[href='#eventdetails']").click(function() {
  			$("html, body").animate({ scrollTop: $(document).height() }, "slow");
  			return false;
		});
	</script>
	<script type="text/javascript">
		var el = $(".border");
		var width = el.width();
		el.css("border-left", "solid " + ((width / 2) | 0) + "px" + " transparent");
		el.css("border-right", "solid " + ((width / 2) | 0) + "px" + " transparent");
	</script>
	<script type="text/javascript">
		var al = $("#home");
		var height = $(window).height();
		al.css("height", (height | 0) + "px");
	</script>
</body>
</html>