@font-face {
    font-family: CL;
    src: url("/champagne_limousines/Champagne & Limousines.ttf");
}

@font-face {
    font-family: CG;
    src: url("/coco_gothic/CocoGothic-Bold_trial.ttf");
}

h2{
	text-align: center;
	font-family: CG;
	font-weight: normal;
}

h3{
	text-align: center;
	font-family: CL;
	color: #fff;
	padding: 0px;
	display: inline-block;
}

a{
	color: #fff !important;
	font-style: oblique;
	font-weight: bolder;
}

ul a{
	color: #ffd800 !important;
	font-style: normal;
	font-size: 120% !important;
	font-weight: normal;
}

.navbar-nav>li>a{
	padding-top: 50px;
}

.yellow{
	color:#ffd800 !important;
	font-size: 240%;
}

#description{
	background-color: #000;
	height: 220px;
    border-top: 10px;
	/*padding-bottom: 80px;*/
	background-image: url(/images/des1.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.border{
	border-top: solid 70px rgb(0,0,0);
  	position: relative;
	background-image: url(/images/4.png);
}

/*
.r2{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	background-color: #1f1f1f;
	height: 200px;
	background-image: url(/images/des1.png);
	background-repeat: no-repeat;
	background-size: contain;
}
*/
.navbar-inverse{
	background-color: #1f1f1f;
}

.fs{
	font-size: 16px;
}

.bg-black{
	background-image: url(../images/4.png);
	height: 15%;
	padding-bottom: 10px;
}

hr{
	border-top: 2px solid #ffd800;
	width: 150px;
	margin-bottom: 12px !important;
}

.inline-elements{
	display: inline-block;
} 

.item:nth-child(1) {
    background: url(/images/1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url(/images/2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url(/images/3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}

.form-control{
	width: 50%;
	color: #ffd800;
	font-weight: bolder;
	background-color: rgba(0,0,0,0);
}

#home{
	background-image: url(/images/0.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 80px;
	padding-top: 17%;
	width: 100%;
}

label{
	font-size: 22px;
}

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffd800;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color: #ffd800;
  font-weight: bolder;
  background-color: rgba(0,0,0,0);
  font-weight: 100;
  text-align: center;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ffd800;
  font-weight: 100;
}

input[type="email"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffd800;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color: #ffd800;
  font-weight: bolder;
  background-color: rgba(0,0,0,0);
  font-weight: 100;
  text-align: center;
}

input[type="email"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ffd800;
  font-weight: 100;
}

.form-group{
	padding-top: 10px;
	padding-bottom: 10px;
}

a{
	font-family: CG;
}

.d1{
	padding-bottom: 30px;
	transform-origin: right bottom;
  	transform: skewY(3deg);
}


.d{
	transform: skewY(-3deg);
}

.arrow_down{
	color: #2f2f2f;
	font-size : 40px !important;
	position: absolute;
    bottom: 2px;
    left: 49%;
}

.navbar-inverse {
	background-color: rgba(0,0,0,0);
	position: absolute;
}

#reg{
	margin-top: 30px;
	margin-left: 18%;
	margin-bottom: 70px;
	margin-right: 18%;
	box-shadow: inset 400px 400px 400px 400px rgba(0,0,0,0.8);
	border-radius: 4%;
}

.logo img{
	width: 100px;
	height: 100px;
}

.mlogo img{
	width: 40px;
	height: 40px;
}

.mlogo{
	align-self: center;
}

.pad3{
    padding-bottom: 20px;
}
.pad{
	padding-top: 20px;
	padding-bottom: 20px;
}

.pad2{
	padding-top: 30px;
	padding-bottom: 30px;
}

.info{
	font-size: 28px !important;
}

.navbar-toggle{
	margin-top: 60px;
}

.btn-transparent{
	color: #fff;
	background-color: #ffd800;
	font-weight: bold;
}

.b{
	margin-top: 40px;
	margin-bottom: 40px;
	width: 150px;
}

@media only screen and (max-width: 1050px) {
	#home{
		background-image: url(/images/st.jpg);
		background-position: center center;
	}
	.arrow_down{
	    left: 47%;
	}
    .mlogo img{display: none;}
}

@media only screen and (max-width: 750px) {
	#home{
		background-image: url(/images/st.jpg);
		background-position: center center;
	}
	.nav>li{
		background-color: #000;
	}
	.navbar-nav {
    	margin: 0px;
	}
	/*.r2{
		background-image: url(/images/des2.png);
		background-size: cover;
		background-position: center;
		height: 500px;
	}*/
	#description{
		background-color: #000;
		height: 600px;
        background-image: url(/images/des2.png);
		background-size: cover;
		background-position: center;
		/*padding-bottom: 80px;*/
	}
	.arrow_down{
	    left: 45%;
	}
	.form-control{
		width: 85%;
		color: #ffd800;
		font-weight: bolder;
		background-color: rgba(0,0,0,0);
	}
    .mlogo img{display: none;}
}