{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                All Items
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <h3 class="text-center">All Items</h3>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    -->
</section>

<section class="content">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Events! :)</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <table id="example1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S. No</th>
                                    <th>ID</th>
                                    <th>Event Venue</th>
                                    <th>Date and Time</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in events %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ event.id | truncate(8,True,end='') }}</td>
                                        <td>{{ event.address}}</td>
                                        <td>{{ event.date_of_event }} -- {{ event.time }}</td>
                                        <td>{% if event.status == 0 %}
                                                Event Pending
                                            {% else %}
                                                Event Over
                                            {% endif %}</td>
                                        <td>
                                            <div class="row">
                                                {% if event.status == 0 %}
                                                <div class="col-sm-6">
                                                    <form action="{{ url_for('editEvent') }}" method="get">
                                                        <input type="hidden" name="id" value="{{ event.id }}">
                                                        <input type="submit" class="btn btn-success btn-block" value="Edit">
                                                    </form>
                                                </div>
                                                {% endif %}
                                                <div class="col-sm-6">
                                                    <a href="{{ url_for('downloadParticipant', eventid=event.id) }}" name="id" class="btn btn-block btn-primary">Download</a>
                                                </div>
                                                <div class="col-sm-6">
                                                    <a href="{{ url_for('allParticipant', eventid=event.id) }}" name="eventid" class="btn btn-block btn-primary">Participants</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>
    </div>
{% endblock %}
