{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                All Participants
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    -->
</section>

<section class="content">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Participants! :)</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <table id="example2" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S. No</th>
                                    <th>Participant Name</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Age</th>
                                    <th>Profession</th>
                                    <th>Plus One</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for participant in participants %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ participant.name }}</td>
                                        <td>{{ participant.email}}</td>
                                        <td>{{ participant.mobileno }}</td>
                                        <td>{{ participant.age }}</td>
                                        <td>{{ participant.prof }}</td>
                                        <td>{{ participant.plusone }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>
    </div>
{% endblock %}
