{% extends "main.html" %}

{% block body %}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Home Page
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    -->
</section>
<section class="content">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-sm-6">
            <div class="box">
                <div class="box-header">
                    Edit Stable Talk Description
                </div>
                <div class="box-body">
            <form action="{{ url_for('addDesc') }}" method="post">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group has-feedback">
                            <label for="desc">Event Description</label>
                            <input class="form-control" name="description" placeholder="Enter Event Description" value="{{ description }}" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 col-offset-xs-4" style="position: relative; margin: 0 auto; left: 115px;">
                        <input type="submit" class="btn btn-primary btn-block" value="Submit Description" >
                    </div>
                </div>

            </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
    <div class="box">
        <div class="box-header">
            Create a New Event
        </div>
        <div class="box-body">
            <form action="{{ url_for('registerEvent') }}" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                                <label for="limit">Adress of Event Name</label>
                                <input type="text" name="address" class="form-control" placeholder="Enter the Address" required>
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                            <label for="limit">Enter the Time</label>
                            <input type="text" name="time" class="form-control" placeholder="hh:mm am/pm" required>
                            <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                            <label for="limit">Enter the Date</label>
                            <input type="text" name="date" class="form-control" placeholder="dd/mm/yyyy" required>
                            <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 col-offset-xs-4" style="position: relative; margin: 0 auto; left: 115px;">
                        <input type="submit" class="btn btn-primary btn-block" value="Submit Event" >
                    </div>
                </div>
            </form>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
{% endblock %}